<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="static/css/login.css">
</head>
<body>

<div class="container">

    <div class="element">
        <div class="login">
            <script src="script.js"></script>
            <center>
                <h3>Login Here</h3>
                <h1> {{ error }} </h1>
                <form action="/checkuser/" method="post">
                    <table>
                        <tr>
                            <td>Username:</td>
                            <td>
                                <input  type="text"  name="user_name">
                            </td>
                        </tr>

                        <tr>
                            <td>Password:</td>
                            <td>
                                <input  type="password" name="user_pswd">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="submit" value="Login" />
                            </td>

                            <td>
                                <input type="button" onclick="window.location.href='/registration';" value="Register" />
                            </td>
                        </tr>
                        <table>
                            <center>
        </div>
    </div>
</div>

</body>

<script src="https://threejs.org/build/three.js"></script>
<script src="{{ url_for('static', filename='vanta.cells.min.js') }}"></script>
<script>
    VANTA.CELLS({
      el: "body",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 750.00,
      minWidth: 200.00,
      scale: 1.00,
      color1: 0x7071d,
      color2: 0x3032f,
      size: 1.20,
      speed: 3.30
    })
</script>



</html>