<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block head %}
    {% endblock %}
</head>

<body>
<!-- Navigation Bar from bootstrap -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">{{name}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

                <ul class="navbar-nav">
                    <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-link" href= "/login/">Login</a>
                    <a class="nav-link" href= "/signup/">Signup</a>
                    <a class="nav-link" href= "/dashboard/">Dashboard</a>
                    <a class="nav-link" href= "/recommend/">Recommend</a>
                    <a class="nav-link" href="/responserev/">Response Form</a>
                    <a class="nav-link" href="/soon/">Coming Soon</a>
                    <a class="nav-link" href="/random/">Pick For Me!</a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Restaurants
                        </a>
                        <div class="dropdown-menu" style="position: absolute; z-index: 2; background-color: black;">
                            <a class="nav-link" href="/sandiego/">San Diego</a>
                            <a class="nav-link" href="/losangeles/">Los Angeles</a>
                            <a class="nav-link" href="/sanfrancisco/">San Francisco</a>

                        </div>

                    </li>

                </ul>
            </div>
        </nav>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../static/bootstrap.bundle.min.js"></script>
        <div class="container-fluid" style="position: relative; z-index: 1;">
        </div>

<div class="product" style="margin-top: 2%;">
    <div class="row" style="padding-top: 0%; padding-bottom: 5%;">

        <div class="col-8" >
            {% block title %}
            {% endblock %}
        </div>
    </div>
</div>

</body>



<!-- will remove later, for now keeping as reference for possible ideas -->
{% block style %}
{% endblock %}

{% block content %}
{% endblock %}
</html>